[submodule "Natasha"]
	path = Natasha
	url = https://github.com/996-icu-avengers/Natasha.git
[submodule "support.996.ICU"]
	path = support.996.ICU
	url = https://github.com/MSWorkers/support.996.ICU.git
[submodule "996.OD"]
	path = 996.OD
	url = https://github.com/gnoloehz/996.OD.git
[submodule "996action"]
	path = 996action
	url = https://github.com/CPdogson/996action.git
[submodule "996.petition"]
	path = 996.petition
	url = https://github.com/xokctah/996.petition.git
[submodule "996.Leave"]
	path = 996.Leave
	url = https://github.com/623637646/996.Leave.git
[submodule "yaocl"]
	path = yaocl
	url = https://github.com/operator996/yaocl.git
[submodule "996.law"]
	path = 996.law
	url = https://github.com/CPdogson/996.law.git
[submodule "996_list"]
	path = 996_list
	url = https://github.com/fengT-T/996_list.git
